 @font-face { font-family: Axis; src: url('font/axis.otf'); } 
 p {
   font-family: Axis, sans-serif;
 }
 
 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type="text"] {
  border: 1px solid #565656;
  padding: 2px;
  color: black;
}
#display {
  position: relative;
  top: 20;
  width: 600px;
  height: 30px;
  font-family: Axis;
}

#myDIV {
  position: relative;
  left: 590px;
  bottom: 290px;
  font-family: Axis;
}